.main-container{
    max-width: 1440px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 49px;
    padding-left: 56px;
    padding-right: 56px;
    font-size: 18.5px;
    color: #444444;
    font-family: DINPro-Medium;

}

.container{
    max-width: 1328px;    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: -1;
}

.loading{
    margin-top: 50px;
}